/.github/ @Jakeeeey @ECuerdo @Xerman09 @Erwinrillorta0830 @Nazeeee0214

/src/app/(customer-relationship-management)/crm/_components/ @Jakeeeey @ECuerdo @Xerman09 @Erwinrillorta0830 @Nazeeee0214

/src/app/(customer-relationship-management)/layout.tsx @Jakeeeey @ECuerdo @Xerman09 @Erwinrillorta0830 @Nazeeee0214

/src/actions/ @Jakeeeey @ECuerdo @Xerman09 @Erwinrillorta0830 @Nazeeee0214

/src/app/(customer-relationship-management)/crm/_components/ @Jakeeeey @ECuerdo @Xerman09 @Erwinrillorta0830 @Nazeeee0214

/src/app/(customer-relationship-management)/crm/[...slug]/ @Jakeeeey @ECuerdo @Xerman09 @Erwinrillorta0830 @Nazeeee0214

/src/app/layout.tsx @Jakeeeey @ECuerdo @Xerman09 @Erwinrillorta0830 @Nazeeee0214

/src/app/(public)/ @Jakeeeey @ECuerdo @Xerman09 @Erwinrillorta0830 @Nazeeee0214

/src/app/api/auth/@Jakeeeey @ECuerdo @Xerman09 @Erwinrillorta0830 @Nazeeee0214

/src/app/main-dashboard/ @Jakeeeey @ECuerdo @Xerman09 @Erwinrillorta0830 @Nazeeee0214

/src/app/globals.css @Jakeeeey @ECuerdo @Xerman09 @Erwinrillorta0830 @Nazeeee0214

/src/components/ @Jakeeeey @ECuerdo @Xerman09 @Erwinrillorta0830 @Nazeeee0214

/src/hooks/ @Jakeeeey @ECuerdo @Xerman09 @Erwinrillorta0830 @Nazeeee0214

/src/lib @Jakeeeey @ECuerdo @Xerman09 @Erwinrillorta0830 @Nazeeee0214

/src/modules/cms/ @Jakeeeey @ECuerdo @Xerman09 @Erwinrillorta0830 @Nazeeee0214

/src/types/ @Jakeeeey @ECuerdo @Xerman09 @Erwinrillorta0830 @Nazeeee0214

/components.json @Jakeeeey @ECuerdo @Xerman09 @Erwinrillorta0830 @Nazeeee0214

/eslint.config.mjs @Jakeeeey @ECuerdo @Xerman09 @Erwinrillorta0830 @Nazeeee0214

/next.config.ts @Jakeeeey @ECuerdo @Xerman09 @Erwinrillorta0830 @Nazeeee0214

/next-env.d.ts @Jakeeeey @ECuerdo @Xerman09 @Erwinrillorta0830 @Nazeeee0214

/package.json @Jakeeeey @ECuerdo @Xerman09 @Erwinrillorta0830 @Nazeeee0214

/postcss.config.mjs @Jakeeeey @ECuerdo @Xerman09 @Erwinrillorta0830 @Nazeeee0214

/tsconfig.json @Jakeeeey @ECuerdo @Xerman09 @Erwinrillorta0830 @Nazeeee0214